In [1]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv(r"C:\Users\manah\Downloads\monatszahlen2505_verkehrsunfaelle_06_06_25.csv")
df.head()

,MONATSZAHL,AUSPRAEGUNG,JAHR,MONAT,WERT,VORJAHRESWERT,VERAEND_VORMONAT_PROZENT,VERAEND_VORJAHRESMONAT_PROZENT,ZWOELF_MONATE_MITTELWERT
0,Alkoholunfälle,insgesamt,2025,202501,NaN,NaN,NaN,NaN,NaN
1,Alkoholunfälle,insgesamt,2025,202502,NaN,NaN,NaN,NaN,NaN
2,Alkoholunfälle,insgesamt,2025,202503,NaN,NaN,NaN,NaN,NaN
3,Alkoholunfälle,insgesamt,2025,202504,NaN,NaN,NaN,NaN,NaN
4,Alkoholunfälle,insgesamt,2025,202505,NaN,NaN,NaN,NaN,NaN

In [ ]:
"""""
Understanding of the dataset
    MONATSZAHL: CATEGORY
    AUSPRAEGUNG:ACCIDENT TYPE
    JAHR: YEAR
    MONAT: MONTH
    WERT: VALUE
    VORJAHRESWERT: PREVIOUS YEAR COUNT
    VERAEND_VORMONAT_PROZENT: PERCENTAGE CHANGE COMPARED TO PREVIOUS MONTH
    VERAEND_VORJAHRESMONAT_PROZENT: PERCENTAGE CHANGE TO THE SAME MONTH IN PREVIOUS YEAR
    ZWOELF_MONATE_MITTELWERT: AVERAGE OVER 12 MONTHS
    """

In [3]:
df.dropna(axis=1, how='all', inplace=True)
print(df.columns)

Index(['MONATSZAHL', 'AUSPRAEGUNG', 'JAHR', 'MONAT', 'WERT', 'VORJAHRESWERT',
       'VERAEND_VORMONAT_PROZENT', 'VERAEND_VORJAHRESMONAT_PROZENT',
       'ZWOELF_MONATE_MITTELWERT'],
      dtype='object')

In [4]:
df = df[['MONATSZAHL', 'AUSPRAEGUNG', 'JAHR', 'MONAT', 'WERT']]

In [5]:
#Filtering dataset for enteries above 2020
df_cleaned = df[df['JAHR']<=2020]
print(df_cleaned)

           MONATSZAHL             AUSPRAEGUNG  JAHR   MONAT   WERT
63     Alkoholunfälle               insgesamt  2020   Summe  430.0
64     Alkoholunfälle               insgesamt  2020  202001   28.0
65     Alkoholunfälle               insgesamt  2020  202002   40.0
66     Alkoholunfälle               insgesamt  2020  202003   27.0
67     Alkoholunfälle               insgesamt  2020  202004   26.0
...               ...                     ...   ...     ...    ...
2340  Verkehrsunfälle  Verletzte und Getötete  2000  200008  647.0
2341  Verkehrsunfälle  Verletzte und Getötete  2000  200009  675.0
2342  Verkehrsunfälle  Verletzte und Getötete  2000  200010  615.0
2343  Verkehrsunfälle  Verletzte und Getötete  2000  200011  578.0
2344  Verkehrsunfälle  Verletzte und Getötete  2000  200012  515.0

[1904 rows x 5 columns]